django
django-extensions
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-language
google-cloud-speech
google-cloud-texttospeech
google-cloud-translate
google-generativeai
googleapis-common-protos
googletrans
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langcodes
langdetect
langsmith
opencv-python
python-dotenv
requests
twilio
pillow
mysqlclient
